* {
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding:8px 16px;
}

#product-overview {
    background: #ff1b68;
    padding:20px;
    width:80%;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}
.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size:22px;
}

.main-nav___item {
  display: inline-block;
  margin: 0px 20px;
  list-style: none;
  color: #0e4f1f;
}
.main-nav___item  a {
  color: #0e4f1f;
  text-decoration: none;
}

.main-nav___item a:hover {
  color: white;
}

.main-nav___item a:active {
  color: white;
}

.main-nav___items {
  margin: 0;
  padding: 0;

  /*  */removes bullet points ->
  list-style: none;
}
